*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* .body{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  backdrop-filter: blur(10px);
  padding: 20px 50px;
  border-bottom: 1px solid rgba(240, 230, 140, 0.2);
} */

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

p{
  color: #E2E2B6;
}

h2{
  color: #E2E2B6;
}

.title-div{
  margin-left: 20px;
}
.sign {
  display: flex;
  justify-content: center;
  gap: 24px;

}
.btn-1 {
  padding: 8px 26px;
  border-radius: 16px;
  border: none;
}
.btn-2 {
  padding: 8px 16px;
  border-radius: 16px;
  border: none;
  margin-right: 20px;
}
input{
  border-radius: 64px;
  border: none;
  padding: 16px;
  background-color: rgba(40, 44, 52);
}
.hero-h2{
  margin-top: 190px;
  font-size: 64px;
  font-weight: bold;
  text-align: center;

}

.sign-1 {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 64px;
  
}
label{
  color: #E2E2B6;
 
}



button{
  color: #E2E2B6;
  background-color: #03346E;
}